 #image-container{
    background:url(/Users/antonioflore/Downloads/progetti/Boolean/html-css-booleaner/img/pattern.png);
    background-attachment:fixed;
    height: 150px;
    background-color:rgb(16, 150, 233);
}
header h1{
    color:white;
    font-family: 'Bitter', serif;
    font-size: 50px;
    padding: 25px 0 0 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
header span{
    font-size: 15px;
    margin: 40px;
}

.subtitle{
    color: gray;
    font-size: 20px;
    font-weight: bolder;
}
.subtitle span{
    color: lightskyblue;
}
#smallsubtitle{
    font-size: 12px;
}
.description{
    margin: 0;
}
.highlighter{
    background-color: yellow;
}
.backgroundblue{
    background-color: rgb(11, 179, 230);
    color: white;
}
.backgroundlightblue{
    background-color: rgb(117, 198, 223);
}


footer p{
    font-weight: bolder;
    color: gray;
    margin-top: 20px;
}
#image-description{
    color: white;
    margin: 60px;
    font-weight: bolder;
    font-size: 20px;
}
.interest-image1{
    height: 208px;
    width:312px;
    background-image: url(/Users/antonioflore/Downloads/progetti/Boolean/html-css-booleaner/img/monitor.jpg);
    margin-bottom: 10px;
}
.interest-image2{
    height: 207px;
    width:311px;
    background-image: url(/Users/antonioflore/Downloads/progetti/Boolean/html-css-booleaner/img/graph.jpg); 
}

