*{
    box-sizing: border-box;
    margin:auto;
}

 #image-container{
    background:url(/Users/antonioflore/Downloads/progetti/Boolean/html-css-booleaner/img/pattern.png);
    background-attachment:fixed;    background-color:rgb(16, 150, 233);
}
#logo{
    height: 100px;
    margin: 80px 0 0 10px;
}

main h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.subtitle{
    color: gray;
    font-size: 20px;
    font-weight: bolder;
}
.subtitle span{
    color: lightskyblue;
}
#smallsubtitle{
    font-size: 12px;
    margin-bottom: 20px;
}
.description{
    margin-bottom: 10px;
}
.highlighter{
    background-color: yellow;
}
div ul {
    margin-top: 20px;
}
table{
    margin: 20px 0 20px 0;
}
.backgroundblue{
    background-color: rgb(11, 179, 230);
    color: white;
}
.backgroundlightblue{
    background-color: rgb(117, 198, 223);
}

footer p{
    font-weight: bolder;
    color: gray;
    margin-top: 20px;
}
.image-description{
    color: white;
    margin: 60px;
    font-weight: bolder;
    font-size: 20px;
}
.interest-image1{
    height: 208px;
    width:312px;
    background-image: url(/Users/antonioflore/Downloads/progetti/Boolean/html-css-booleaner/img/monitor.jpg);
    margin: 10px 0 10px 10px;
}
.interest-image2{
    height: 207px;
    width:311px;
    background-image: url(/Users/antonioflore/Downloads/progetti/Boolean/html-css-booleaner/img/graph.jpg); 
    margin: 10px 0 10px 10px;
}

